.about {
  z-index: 6;

  @include container();
  @include section-style();

  padding-top: 31px;
  padding-bottom: 83px;

  color: $text-clr-light;
  background-color: $bg-main-dark;
  background-image: url("../img/about-mobile.png");
  background-repeat: no-repeat;
  background-position: 75% top;
  background-size: 292px 353px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/about-mobile@2x.png");
  }
}

.about__container {
  @include narrow-container();
  position: relative;
}

.about__heading,
.about__text,
.about__slogan {
  @include offset-reset();
}

.about__heading {
  @include heading();
  margin-bottom: 19px;
}

.about__text {
  margin-bottom: 20px;
  margin-right: 5%;

  br {
    display: none;
  }
}

.about__slogan {
  @include bolder-text();
}

@media (max-width: $mobile-width-only) {
  .about__show-more {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .about {
    padding-top: 37px;
    padding-bottom: 89px;

    background-image: none;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;

      width: 90%;
      height: 212px;
      margin: 0 auto;

      background-color: $bg-decor-block;
      border-radius: 20px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 48px;
      left: 50%;
      width: 376px;
      height: 548px;

      background-image: url("../img/about-tablet.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 0 0;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/about-tablet@2x.png");
      }
    }
  }

  .about__heading {
    margin-bottom: 40px;
  }

  .about__text {
    width: 50%;
    margin-bottom: 31px;

    br {
      display: block;
    }
  }

  .about__slogan {
    width: 50%;
    margin-bottom: 55px;

    line-height: 1.195;
  }

  .about__show-more {
    width: 44.5%;
  }
}

@media (min-width: $desktop-width) {
  .about {
    padding-top: 130px;
    padding-bottom: 163px;

    &::before,
    &::after {
      display: none;
    }
  }

  .about__container {
    position: relative;

    @include center-position();
    padding-top: 58px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;

      width: 212px;
      height: 212px;

      background-color: $bg-decor-block;
      border-radius: 20px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 15px;
      left: auto;
      right: 0;
      z-index: 0;

      width: 630px;
      height: 665px;

      background-image: url("../img/about-desktop.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 0 0;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/about-desktop@2x.png");
      }
    }
  }

  .about__heading {
    position: relative;
    margin-bottom: 58px;
  }

  .about__text {
    position: relative;
    width: 53%;
    margin-bottom: 39px;

    line-height: 1.215;

    br {
      display: none;
    }
  }

  .about__slogan {
    width: 40%;
    margin-bottom: 87px;

    line-height: 1.143;
  }

  .about__show-more {
    width: 274px;
  }
}
