.feedback {
  @include container();
  padding-top: 105px;
  padding-bottom: 16px;

  color: $text-clr-light;

  background-color: $bg-main-dark;
}

.feedback__container {
  @include outline(teal);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedback__heading {
  @include offset-reset();
  @include heading();
}

.feedback__text {
  a {
    color: $bg-button-basic;
  }
}

.feedback__submit {
  width: 60px;
  height: 62px;

  border-radius: 10px;
}

.feedback__contacts {
  align-self: start;
  color: $bg-button-basic;
}

@media (min-width: $tablet-width) {
  .feedback {
    padding-top: 133px;
    padding-bottom: 77px;
  }

  .feedback__container {
    @include narrow-container();
  }
}

@media (min-width: $desktop-width) {
  .feedback {
    padding-top: 208px;
    padding-bottom: 103px;
  }

  .feedback__container {
    @include center-position();
    padding-left: 75px;
    padding-right: 73px;
  }

  .feedback__contacts {
    align-self: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 868px;
  }
}
