.plan {
  @include list-reset();

  font-size: 18px;
  line-height: 1;
  font-weight: bold;
  color: $text-clr-dark;

  counter-reset: item-counter;
}

.plan__item {
  position: relative;
  display: flex;
  align-items: flex-start;

  padding: 22px 30% 32px 8.9%;
  margin-bottom: -10px;

  border-radius: 10px 10px 0 0;

  background-color: $bg-special-light;

  &::after {
    position: absolute;
    top: 20px;
    right: 8%;

    counter-increment: item-counter;
    content: counter(item-counter);
    color: $text-clr-light;
  }

  &:nth-child(4n + 1) {
    background-color: $bg-special-bright;
  }

  &:nth-child(4n + 2) {
    background-color: $bg-special-medium;
  }

  &:nth-child(4n) {
    padding-bottom: 22px;

    background-color: $bg-button-basic;
    border-radius: 10px;
  }
}

@media (min-width: $tablet-width) {
  .plan {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 140px 140px;

    font-size: 24px;

    border-radius: 20px;
    overflow: hidden;
  }

  .plan__item {
    padding: 29px 30% 61px 9.2%;
    margin-bottom: 0;
    margin-right: -21px;

    border-radius: 0;

    &:nth-child(2) {
      border-top-left-radius: 20px;
    }

    &:last-child {
      border-radius: 0 0 0 20px;
    }

    &::after {
      top: auto;
      right: auto;
      bottom: 23px;
      left: 9.1%;

      font-size: 30px;
    }
  }
}

@media (min-width: $desktop-width) {
  .plan {
    grid-template-columns: 345px 345px 345px 285px;
    grid-template-rows: min-content;
  }

  .plan__item {
    padding: 28px 120px 31px 30px;
    margin-left: -30px;
    border-radius: 20px;

    &::after {
      top: 27px;
      left: 300px;
      bottom: auto;

      font-size: inherit;
    }
  }

  .plan__item:nth-child(4n) {
    border-radius: 20px;
    margin-right: 0;

    &::after {
      left: 268px;
    }
  }

  .plan__item:nth-child(4n + 1) {
    margin-left: 0;
    padding-left: 34px;

    &::after {
      left: 268px;
    }
  }
}
