.promo {
  @include outline;

  color: $text-clr-light;
  background-color: $bg-header;
}

.promo__container {
  @include outline(rgb(0, 195, 255));
}

.promo__header {
  @include outline(pink);
  @include container();

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 503px;

  padding-top: 21px;
}

.promo__slogan {
  @include offset-reset();
  font-size: 36px;
  line-height: 40px;
  font-weight: bold;
}

.promo__links {
  @include list-reset();
  display: flex;
}

.promo__review {
  @include outline(green);
  display: flex;
  flex-direction: column;
  width: auto;
  margin: 0;
  padding: 48px 15.63% 109px;

  background-color: $text-clr-dark;
}

.promo__quote {
  @include offset-reset();
}

.promo__quote-author {
  @include bolder-text();

  font-style: normal;
}

.promo__plan-container {
  @include outline();
  @include container();
  background-color: $bg-main-dark;
}

.promo__plan {
  position: relative;
  top: -80px;
}

@media (min-width: $tablet-width) {
  .promo__header {
    min-height: auto;
  }

  .promo__slogan {
    width: 400px;
    margin: 0 auto;

    font-size: 60px;
    line-height: 70px;
  }

  .promo__links {
    display: none;
  }

  .promo__review {
    min-height: 612px;
    padding: 76px 9.38% 350px;
  }

  .promo__plan-container {
    background-color: $bg-header;
  }

  .promo__plan {
    top: -140px;
  }
}

@media (min-width: $desktop-width) {
  .promo__container {
    @include center-position();
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: min-content min-content;
    padding: 0;
  }

  .promo__header {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .promo__review {
    grid-column: 4;
    grid-row: 1;

    min-height: auto;
    padding: 0;
    margin: 0;
  }

  .promo__plan-container {
    grid-column: 1 / -1;
    grid-row: 2;
  }

  .promo__plan {
    position: static;
    padding: 0;
  }
}
