.activity-plan__country {
  font-size: 18px;
  line-height: 18px;
  font-weight: 500;
  color: $text-clr-medium;
}

.activity-plan__text {
  resize: none;

  font: inherit;

  @include border-styles();

  &::placeholder {
    color: rgba($text-clr-basic, 0.3);
  }

  &--invalid {
      border-color: $border-textarea-invalid;
  }
}
