.checkbox-field {
  display: flex;
  align-items: flex-end;
  padding-top: 1px;
}

.checkbox-field__input {
  position: relative;

  @include offset-reset();
  margin-left: 1px;
  margin-right: 13px;

  appearance: none;
  display: block;
  width: 26px;
  height: 26px;

  border-radius: 4px;
  border: 1px solid $bg-inner-light;

  &::after {
    display: none;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    width: 11px;
    height: 11px;

    background-image: url("../img/tick.svg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
  }

  &:hover {
    border-color: $border-clr-hover;
  }

  &:active {
    border: none;
    outline: none;
    background-color: $bg-inner-filter;
  }

  &:active::after {
    opacity: 0.3;
  }

  &:checked::after {
    display: block;
  }
}

.checkbox-field__label {
  padding-bottom: 4px;

  font-size: $mobile-button-font-size / 1.2;
  line-height: 1;
  font-weight: normal;
  color: $text-clr-medium;
}

@media (min-width: $tablet-width) {
  .checkbox-field {
    padding-bottom: 25px;

    border-bottom: $private-rates-border;
  }

  .checkbox-field__input {
    width: 36px;
    height: 36px;
    margin-right: 21px;
  }

  .checkbox-field__label {
    padding-bottom: 10px;

    font-weight: 500;
    font-size: $tablet-smaller-font-size;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
}

@media (min-width: $desktop-width) {
  .checkbox-field {
    padding-bottom: 30px;

    border: none;
  }

  .checkbox-field__input {
    margin-right: 22px;
  }
}
