.dates-select {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 19px;

  margin-bottom: 23px;
}

.dates-select__children {
  margin-bottom: 5px;
}

@media (min-width: $tablet-width) {
  .dates-select {
    row-gap: 23px;

    margin-bottom: 48px;
  }

  .dates-select__children {
    grid-row: 2;

    margin-bottom: 0;
    margin-top: 1px;
  }

  .dates-select__duration {
    margin-bottom: 35px;
  }
}

@media (min-width: $desktop-width) {
  .dates-select {
    grid-template-columns: 60% 40%;
    grid-template-rows: repeat(3, min-content);
    row-gap: 0;

    margin-bottom: 58px;
  }

  .dates-select__companions {
    grid-column: 1;
    grid-row: 1;

    margin-bottom: 14px;
  }

  .dates-select__duration {
    grid-column: 1;
    grid-row: 2;
    margin-bottom: 32px;
  }

  .dates-select__children {
    grid-column: 2;
    grid-row: 1;
    justify-self: end;
  }

  .dates-select__calendar {
    grid-column: 1 / -1;
    grid-row: 3;
  }
}
