.number-field {
  display: grid;
  grid-template-columns: 1fr min-content;
  row-gap: 9px;

  font-size: $mobile-font-size;
  line-height: 1;
  font-weight: 500;
  text-transform: uppercase;
  color: $text-clr-medium;
}

.number-field__label {
  grid-column: 1;
  grid-row: 1;
  letter-spacing: 0.09em;
}

.number-field__units {
  grid-column: 2;
  grid-row: 1;

  letter-spacing: 0.07em;
  color: rgba($text-clr-medium, 0.3);
  text-align: right;
}

.number-field__wrapper {
  position: relative;
  grid-column: 1 / -1;
  grid-row: 2;
}

.number-field__input {
  @include offset-reset();
  width: 100%;
  height: 43px;

  font: inherit;
  color: inherit;
  font-size: $mobile-button-font-size / 1.2;
  line-height: 1;
  text-align: center;

  @include input-border-styles();

  &::placeholder {
    font: inherit;
    color: inherit;
  }
}

.number-field__control {
  position: absolute;
  top: 0;

  @include button-reset();
  width: 24px;
  height: 100%;

  background-color: transparent;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 5px;
    right: 5px;
    height: 2px;
    background-color: $bg-toggle;
  }

  &--minus {
    left: 10px;
  }

  &--plus {
    right: 10px;
  }

  &--plus::after {
    content: "";
    position: absolute;
    top: 15px;
    left: 11px;
    width: 2px;
    height: 14px;
    background-color: $bg-toggle;
  }
}

.number-field__wrapper:hover .number-field__input {
  border-color: $border-clr-hover;
}

.number-field__wrapper:hover .number-field__control::before,
.number-field__wrapper:hover .number-field__control::after {
  background-color: $border-clr-hover;
}

.number-field__wrapper:active {
  .number-field__input {
    border-color: $text-clr-dark;
  }

  .number-field__control::before,
  .number-field__control::after {
    background-color: $text-clr-dark;
  }
}

@media (min-width: $tablet-width) {
  .number-field {
    row-gap: 25px;

    font-size: $tablet-smaller-font-size;
  }

  .number-field__label {
    letter-spacing: 0.1em;
  }

  .number-field__units--people {
    padding-right: 5px;
    letter-spacing: 0.08em;
  }

  .number-field__input {
    height: 70px;
    padding-right: 6px;
    padding-bottom: 5px;

    font-size: $tablet-smaller-font-size;
  }

  .number-field__control {
    width: 30px;

    &--minus {
      left: 19px;
    }

    &--plus {
      right: 19px;
    }

    &--plus::after {
      top: 24px;
      left: 14px;
      height: 20px;
    }

    &::before {
      top: calc(50% - 2px);
    }
  }
}

@media (min-width: $desktop-width) {
  .number-field {
    grid-template-columns: 186px 181px 1fr;
    row-gap: 0;
    justify-items: start;
    align-items: center;
    column-gap: 36px;

    font-size: 20px;
  }

  .number-field__label {
    padding-left: 2px;
    letter-spacing: normal;
  }

  .number-field__units {
    grid-column: 3;
    grid-row: 1;

    letter-spacing: normal;
    color: $text-clr-medium;
  }

  .number-field__wrapper {
    grid-column: 2;
    grid-row: 1;

    margin-left: 1px;
  }

  .number-field__control {
    &--minus {
      left: 15px;
    }

    &--plus {
      right: 15px;
    }

    &::before {
      top: 34px;
    }

    &::after {
      top: 25px;
    }
  }
}
