.step {
  padding: 22px 9% 17px;
  margin-bottom: 10px;

  background-color: $bg-card;
  border-radius: 10px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.step__header {
  margin-bottom: 20px;
}

.step__title {
  @include offset-reset();
  padding-left: 1px;
  margin-bottom: 17px;

  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  color: $text-clr-medium;

  span {
    display: block;
  }
}

.step__marks {
  display: none;
}

.step__desc {
  @include offset-reset();
}

.step__content {
  @include outline(teal);
}

.step__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step__next,
.step__submit {
  margin-bottom: 13px;

  line-height: 30px;
  text-transform: uppercase;
}

.step__back {
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: $text-clr-medium;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .step {
    padding: 45px 6.4% 54px;
    margin-bottom: 39px;

    border-radius: 30px;

    &:first-of-type {
      padding-bottom: 56px;
    }

    &:last-of-type {
      padding-bottom: 53px;
    }
  }

  .step__header {
    margin-bottom: 24px;

    border-bottom: $private-rates-border;
  }

  .step__title {
    margin-bottom: 35px;

    font-size: 36px;
    line-height: 36px;
  }

  .step__desc {
    padding-right: 33px;
    padding-bottom: 40px;

    font-size: 20px;
    line-height: 24px;
    font-weight: normal;
  }

  .step__footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }

  .step__next,
  .step__submit {
    margin-bottom: 0;

    text-transform: none;
  }

  .step__back {
    font-size: 24px;
    line-height: 24px;
    text-transform: none;
  }
}

@media (min-width: $desktop-width) {
  .step {
    padding: 98px 158px 104px;
    margin-bottom: 44px;

    border-radius: 60px;

    &:first-of-type {
      padding-bottom: 106px;
    }

    &:last-of-type {
      padding-bottom: 104px;
    }
  }

  .step__header {
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-row: min-content min-content;

    padding-bottom: 16px;
    margin-bottom: 30px;
  }

  .step__title {
    margin-bottom: 34px;

    span {
      display: inline;
    }
  }

  .step__marks {
    display: block;
    grid-column: 2;
    grid-row: 1 / 3;

    padding-top: 8px;
  }

  .step__desc {
    padding-right: 190px;
    padding-left: 1px;
  }
}
