.user-profile {
  padding-top: 24px;
  padding-bottom: 34px;
}

.user-profile__container {
  @include outline();
  @include form-container();

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, min-content);
  row-gap: 18px;
}

.user-profile__level {
  @include outline(teal);
  grid-column: 1;
  grid-row: 1;
  justify-self: center;
  align-self: center;

  width: 100px;
  height: 100px;
}

.user-profile__image {
  grid-column: 2;
  grid-row: 1;
  justify-self: center;
  align-self: center;
}

.user-profile__change-photo {
  grid-column: 1 / -1;

  margin-bottom: 7px;
  font: inherit;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: $text-clr-dark;
  text-transform: uppercase;

  background-color: $bg-inner-lighter;
  border: none;

  &:hover {
    background-color: $bg-inner-hover;
    outline: none;
  }

  &:active {
    color: rgba($text-clr-dark, 0.3);
  }
}

.user-profile__form-field {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;

  @include offset-reset();
}

.user-profile__label {
  position: relative;
  top: 10px;
  align-self: center;

  @include offset-reset();

  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  color: $text-clr-medium;
  text-transform: uppercase;

  background-color: $bg-main-light;
}

.user-profile__hashtags {
  resize: none;

  font: inherit;

  &::placeholder {
    color: rgba($text-clr-basic, 0.6);
  }

  @include border-styles();
  background-color: transparent;
}

.user-profile__transport {
  border: 1px solid $bg-inner-light;
}

@media (min-width: $tablet-width) {
  .user-profile__container {
    grid-template-columns: 94px 1fr 94px;
    grid-template-rows: repeat(3, min-content);
    row-gap: 51px;
    column-gap: 59px;
  }

  .user-profile__level {
    width: 94px;
    height: 94px;
  }
  .user-profile__image {
    grid-column: 3;
    width: 94px;
    height: 94px;
    margin-left: 63;
  }

  .user-profile__form-field--transport {
    grid-column: 2;
    grid-row: 1;
  }

  .user-profile__label {
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    letter-spacing: 0.08em;
  }

  .user-profile__hashtags {
    font-size: 20px;
    line-height: 22px;
  }
}

@media (min-width: $desktop-width) {
  .user-profile {
    padding: 0;
  }

  .user-profile__container {
    position: relative;

    display: flex;
    justify-content: space-between;
    padding: 73px 0 54px 64px;
  }

  .user-profile__level {
    position: absolute;
    top: -95px;
    right: 329px;

    width: 95px;
    height: 95px;
    margin: 0;
  }

  .user-profile__image {
    position: absolute;
    top: -190px;
    right: 95px;

    width: 190px;
    height: 190px;
    margin: 0;
  }

  .user-profile__change-photo {
    position: absolute;
    top: 0;
    right: 95px;

    width: 190px;
  }

  .user-profile__form-field {
    flex-direction: column-reverse;
    width: 732px;

    &--transport {
      width: 384px;
    }
  }

  .user-profile__label {
    top: -10px;
  }
}
