.alphabetic-sort__alphabet {
  @include list-reset();
}

.alphabetic-sort__button {
  @include button-reset();
  // TODO: Set responsive size
  width: 44px;
  height: 41px;

  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: $text-clr-medium;
  text-transform: uppercase;
  text-align: center;

  background-color: $bg-card;
  border: 1px solid $bg-inner-light;

  &[aria-pressed="true"] {
    background-color: $bg-main-light;
    border-color: $bg-main-light;
  }

  &:not([aria-pressed="true"]):hover {
    outline: none;
    border-color: $border-clr-hover;
  }

  &:not([aria-pressed="true"]):active {
    @include theme($text-clr-medium, $text-clr-light);
    border-color: $text-clr-medium;
  }
}
