.alphabetic-sort {
  background-color: inherit;
}

.alphabetic-sort__alphabet {
  @include list-reset();

  height: 205px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.alphabetic-sort__letter {
  display: flex;
}

.alphabetic-sort__button {
  @include button-reset();

  flex-grow: 1;
  height: 41px;

  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: $text-clr-medium;
  text-transform: uppercase;
  text-align: center;

  background-color: $bg-card;
  border: 1px solid $bg-inner-light;

  &[aria-pressed="true"] {
    background-color: $bg-main-light;
    border-color: $bg-main-light;
  }

  &:not([aria-pressed="true"]):hover {
    outline: none;
    border-color: $border-clr-hover;
  }

  &:not([aria-pressed="true"]):active {
    @include theme($text-clr-medium, $text-clr-light);
    border-color: $text-clr-medium;
  }
}

@media (min-width: $tablet-width) {
  .alphabetic-sort {
    display: flex;
  }

  .alphabetic-sort__wrapper {
    width: 63.8%;
    padding-top: 35px;
    padding-bottom: 33px;
    padding-left: 27px;

    border-right: 1px solid $bg-inner-light;
  }

  .alphabetic-sort__alphabet {
    width: 71%;
  }

  .alphabetic-sort__button {
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .alphabetic-sort__wrapper {
    width: 489px;
  }
}
