.button {
  @include button-theme();

  font-size: 17px;
  line-height: 20px;

  border: none;

  &:hover {
    background-color: $bg-special-light;
  }

  &:active {
    color: rgba($text-clr-dark, 0.3);
  }

  &--catalog {
    line-height: 17px;
    color: $text-clr-dark;
    text-transform: uppercase;
  }

  &--light {
    background-color: $bg-card;
  }

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 24px;
  }
}
