.button {
  $mobile-base-size: 18px;
  $tablet-base-size: 24px;

  @include button-theme();
  font-weight: bold;

  border: none;

  &:hover {
    background-color: $bg-special-light;
  }

  &:active {
    color: rgba($text-clr-dark, 0.3);
  }

  &--login {
    display: block;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 4px;

    font-size: 17px;
    line-height: 1.176;
    text-transform: uppercase;
    text-align: center;

    border-radius: 25px;
  }

  &--index {
    font-size: $mobile-base-size;
    line-height: 1;
    text-align: left;

    @media (min-width: $tablet-width) {
      position: relative;
      padding: 27px 33px 29px;

      font-size: $tablet-base-size;

      border-radius: 20px;

      &::after {
        content: "";
        position: absolute;
        top: 34px;
        right: 26px;
        z-index: 10;
        box-sizing: content-box;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 6px 10px;
        border-color: transparent transparent transparent $text-clr-medium;
      }
    }
  }

  &--catalog {
    line-height: 1;
    color: $text-clr-dark;
    text-transform: uppercase;
  }

  &--light {
    line-height: 1;
    background-color: $bg-card;
  }
}

@media (min-width: $tablet-width) {
  .button {
    &--login {
      padding: 14px 0 16px;

      font-size: 20px;
      line-height: 1;
    }
  }
}
