.countries-list {
  @include list-reset();
  padding: 20px 8.64%;

  background-color: inherit;
  border: 1px solid $bg-inner-light;
}

.countries-list__list {
  @include list-reset();
}

.countries-list__letter-list {
  display: none;

  &--active {
    display: block;
  }
}

.countries-list__letter {
  display: none;
}

.countries-list__sublist {
  @include list-reset();
}

.countries-list__link {
  font-weight: normal;
  color: $text-clr-basic;
  text-decoration: none;

  &:hover {
    color: $text-clr-medium;
  }

  &:active {
    color: rgba($text-clr-medium, 0.3);
  }
}

.countries-list__name {
  font-weight: normal;
  color: $text-clr-basic;
}

input:hover + .countries-list__name {
  color: $text-clr-medium;
}

input:active + .countries-list__name {
  color: rgba($text-clr-medium, 0.3);
}

@media (min-width: $tablet-width) {
  .countries-list {
    padding: 27px 20px 20px 25px;
    font-size: 20px;
    line-height: 20px;

    border: none;
  }
}
