.level {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  line-height: 1;

  border-radius: 50%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;

  &:hover {
    cursor: default;
  }
}

.level__count {
  padding: 0 3px;

  font-size: $mobile-heading-size;
  line-height: 0.917;
  font-weight: bold;

  border-bottom: 1px solid rgba($bg-card, 0.3);
}

.level__text {
  padding-top: 2px;
  font-size: $tablet-font-size / 2;
  font-weight: normal;
}

.level--main {
  padding-top: 5px;

  color: $text-clr-light;

  background-color: $bg-level;

  .level__ring {
    transform: rotate(-85deg);
  }
}

.level--form {
  background-image: url("../img/level-form-80.svg");

  .level__count {
    padding-bottom: 4px;
    font-size: $tablet-smaller-font-size * 1.9;
    color: $text-clr-dark;

    border-bottom: 1px solid rgba($text-clr-basic, 0.3);
  }

  .level__text {
    padding-top: 6px;
    font-size: $mobile-button-font-size;
    color: $text-clr-basic;
  }
}

.level--companion {
  color: $text-clr-medium;

  .level__ring {
    transform: rotate(-90deg);
  }
}

.level__ring {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  width: 100%;
  height: 100%;

  &--99 {
    stroke-dasharray: 0.96 * $level-ring-length;
  }

  &--80 {
    stroke-dasharray: 0.8 * $level-ring-length;
  }

  &--50 {
    stroke-dasharray: 0.5 * $level-ring-length;
  }

  &--25 {
    stroke-dasharray: 0.25 * $level-ring-length 0.75 * $level-ring-length;
  }
}

@media (max-width: $mobile-width-only) {
  .level--companion {
    .level__count {
      border: none;
    }

    .level__text {
      display: none;
    }
  }
}

@media (min-width: $tablet-width) {
  .level--companion {
    .level__count {
      padding-top: 3px;
      padding-bottom: 2px;

      border-bottom: 1px solid rgba($text-clr-darker, 0.1);
    }

    .level__text {
      padding-top: 1px;

      color: rgba($text-clr-darker, 0.4);
    }

    .level__ring circle {
      stroke-width: 3;
    }
  }

  .level--form {
    .level__count {
      padding-top: 3px;
      padding-bottom: 2px;
    }

    .level__text {
      padding-top: 5px;
    }
  }
}

@media (min-width: $desktop-width) {
  .level--form {
    .level__count {
      padding: 8px 5px 0 3px;

      color: $text-clr-light;

      border-bottom: 2px solid rgba($text-clr-light, 0.3);
    }

    .level__text {
      padding-right: 1px;
      padding-bottom: 1px;

      color: $text-clr-light;
    }
  }
}
