.transport {
  @include list-reset();

  display: flex;
  align-items: stretch;

}

.transport__item {
  display: block;
  width: 31px;
  height: 31px;
  margin-right: 1px;

  background-color: $bg-card;
  border-radius: 50%;
}

input:hover + .transport__item {
  filter: drop-shadow(0px 2px 6px rgba(22, 28, 53, 0.17));
}

input:active + .transport__item {
  background-color: $bg-inner-filter;
  filter: none;
}

@media (min-width: $tablet-width) {
  .transport__item {
    width: 43px;
    height: 43px;
  }
}
