.companions-filter {
  @include outline(teal);
  @include narrow-container();

  padding-top: 26px;
  padding-bottom: 22px;
  margin-bottom: 28px;

  background-color: $bg-button-basic;
}

.companions-filter__heading {
  @include offset-reset();

  font-size: 22px;
  line-height: 22px;
  font-weight: bold;
  letter-spacing: 0.02em;
  color: $text-clr-medium;
}
