.companions-filter {
  padding: 24px 7.4% 22px;
  margin-bottom: 28px;

  background-color: $bg-button-basic;
  border-radius: 20px;
}

.companions-filter__heading {
  @include offset-reset();
  padding: 0 5px;
  margin-bottom: 24px;

  font-size: $tablet-smaller-font-size * 1.1;
  line-height: 1;
  font-weight: bold;
  letter-spacing: 0.02em;
  color: $text-clr-medium;
}

@media (min-width: $tablet-width) {
  .companions-filter {
    padding: 35px 4.9% 37px;
    margin-bottom: 40px;
  }

  .companions-filter__heading {
    padding: 0;
    margin-bottom: 39px;

    font-size: $tablet-smaller-font-size * 1.5;
    letter-spacing: normal;
  }

  .companions-filter__form {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .companions-filter {
    width: 285px;
    padding: 44px 45px 47px 48px;
    margin-bottom: auto;
  }

  .companions-filter__heading {
    margin-bottom: 14px;
  }
}
