.companion-card {
  display: grid;
  grid-template-columns: 72px 1fr min-content;

  padding: 13px 7.41% 23px 5.93%;

  font-size: 15px;
  line-height: 16px;
  font-weight: normal;

  background-color: $bg-card;
  border-radius: 20px;
  transition: all 0.3s ease;
  overflow: hidden;

  &:hover {
    box-shadow: 0 4px 9px rgba(0, 0, 0, 0.16);
    transition: all 0.3s ease;
  }
}

.companion-card__link {
  grid-column: 2 / -1;
  grid-row: 1;
  justify-self: start;
  display: flex;
  justify-content: space-between;
  width: 100%;

  color: $text-clr-medium;
  text-decoration: none;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

.companion-card__name {
  @include offset-reset();
  padding-left: 16px;
  padding-bottom: 1px;

  font-size: 20px;
  line-height: 20px;
  font-weight: bold;

  span {
    display: block;
  }
}

.companion-card__indicator {
  margin-top: 10px;
  margin-right: 2px;
}

.companion-card__likes {
  @include offset-reset();

  grid-column: 1 / 3;
  grid-row: 2;
  margin-left: 53px;
  z-index: 2;
}

.companion-card__image-link {
  grid-column: 1;
  grid-row: 1 / 3;
  justify-self: start;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2px;
  margin-top: 3px;

  border-radius: 50%;
  overflow: hidden;
}

.companion-card__image {
  width: 100%;
  height: auto;

  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
  }
}

.companion-card__hashtags {
  grid-column: 1 / -1;
  grid-row: 3;

  @include offset-reset();
  padding: 12px 30px 13px 10px;

  line-height: 18px;
}

.companion-card__wish {
  position: relative;
  grid-column: 1 / -1;
  grid-row: 4;
  min-height: 100px;
}

.companion-card__subheading {
  @include offset-reset();
  position: relative;

  width: max-content;
  margin-bottom: 17px;
  margin-left: 11px;

  font-weight: normal;
  text-transform: lowercase;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 9px;
    height: 1px;

    background-color: $bg-main-light;
  }

  &::before {
    left: -100px;
    right: calc(100% + 10px);
  }

  &::after {
    left: calc(100% + 10px);
    right: -1100px;
  }
}

.companion-card__subheading--level {
  padding-left: 10px;
  padding-right: 10px;
  margin-right: -8px;
  margin-bottom: 11px;

  background-color: $bg-card;

  &::before,
  &::after {
    display: none;
  }
}

.companion-card__transport {
  grid-column: 1 / 3;
  grid-row: 5;
}

.companion-card__level-block {
  grid-column: 3;
  grid-row: 5;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.companion-card__level {
  width: 45px;
  height: 45px;
  margin-right: 1px;
}

.companion-card__button {
  grid-column: 1 / -1;
  grid-row: 6;
  margin-top: 14px;
}

@media (min-width: $tablet-width) {
  .companion-card {
    grid-template-columns: 225px 155px 2fr 1fr;
    grid-template-rows: repeat(3, min-content) auto;
    padding: 32px 3.2% 2px 3.63%;

    font-size: 20px;
    line-height: 20px;
  }

  .companion-card__link {
    grid-column: 2 / 4;
    justify-content: flex-start;
  }

  .companion-card__name {
    padding-left: 8px;
    margin-right: 23px;

    font-size: 30px;
    line-height: 30px;

    span {
      display: inline;
    }
  }

  .companion-card__indicator {
    margin-top: 13px;
  }

  .companion-card__image-link {
    grid-column: 1;
    grid-row: 1 / 4;
    align-items: flex-start;
    margin-left: 5.08%;
    margin-top: 4px;

    border-radius: 20px;

    img {
      width: 190px;
      height: 190px;
    }
  }

  .companion-card__subheading {
    margin-left: 47px;

    font-size: $tablet-heading-size / 3;
    line-height: 1.067;
  }

  .companion-card__hashtags {
    grid-column: 2 / 4;
    grid-row: 2;

    padding: 0 60px 16px 11px;

    line-height: 1.15;
    color: $text-clr-darker;
  }

  .companion-card__likes {
    grid-column: 3;
    grid-row: 3;
    justify-self: start;
    margin-left: 0;
    margin-top: 13px;
  }

  .companion-card__transport {
    grid-column: 4;
    grid-row: 1 / 3;
    justify-self: end;
    margin-right: 13px;

    .companion-card__subheading {
      display: none;
    }
  }

  .companion-card__level-block {
    grid-column: 4;
    grid-row: 3;
  }

  .companion-card__subheading--level {
    display: none;
  }

  .companion-card__level {
    width: 64px;
    height: 64px;
    margin-top: 5px;
  }

  .companion-card__wish {
    padding-top: 16px;
    padding-left: 12px;
  }

  .companion-card__button {
    grid-column: 2;
    grid-row: 3;
    margin-top: 13px;
    align-self: start;
    margin-left: 4px;
  }
}

@media (min-width: $desktop-width) {
  .companion-card {
    grid-template-columns: 285px 204px 180px 1fr 64px;
    grid-template-rows: repeat(2, min-content) 1fr;
    padding: 0;
    padding-right: 43px;

    &:hover .companion-card__image {
      transform: scale(1.1);
    }
  }

  .companion-card__link {
    grid-column: 2 / 4;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-top: 44px;
    margin-left: 36px;
  }

  .companion-card__name {
    padding-left: 16px;
  }

  .companion-card__image-link {
    grid-column: 1;
    grid-row: 1 / -1;
    align-items: center;

    margin-left: 0;
    margin-top: 0;

    border-radius: 20px 0 0 20px;

    picture,
    img {
      height: 100%;
      width: auto;
      max-width: none;
    }
  }

  .companion-card__hashtags {
    grid-column: 2 / 4;
    grid-row: 2;

    padding: 20px 12px;
    margin-left: 50px;
    margin-right: 55px;
  }

  .companion-card__likes {
    grid-column: 3;
    grid-row: 3;
    justify-self: start;
    margin-top: 26px;
  }

  .companion-card__transport {
    grid-column: 4;
    grid-row: 3;
    justify-self: start;
    margin-top: 35px;
  }

  .companion-card__level-block {
    grid-column: 5;
    grid-row: 3;
    margin-top: 15px;
    margin-bottom: 30px;
  }

  .companion-card__wish {
    grid-column: 4 / 6;
    grid-row: 1 / 3;
    padding-left: 5px;
    margin-top: 30px;

    .companion-card__subheading {
      display: none;
    }
  }

  .companion-card__button {
    grid-column: 2;
    grid-row: 3;
    margin-top: 26px;
    align-self: start;
    margin-left: 54px;
  }
}
