.continent-filter {
  @include list-reset();
  flex-direction: column;
}

.continent-filter__item {
  margin-bottom: 9px;

  font-size: $mobile-font-size;
  line-height: 1.125;
  font-weight: bold;
}

.continent-filter__name {
  color: inherit;
  text-transform: uppercase;
}

input + .continent-filter__name {
  opacity: 0.3;
}

input:hover + .continent-filter__name {
  opacity: 0.6;
}

input:checked + .continent-filter__name,
input:active + .continent-filter__name {
  opacity: 1;
}

@media (min-width: $tablet-width) {
  .continent-filter {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .continent-filter__item {
    margin-right: 28px;

    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .continent-filter__item {
    margin-right: 33px;
  }
}
