.countries-to-visit {
  @include list-reset();
  padding-left: 9px;
  padding-top: 3px;

  color: $text-clr-medium;
  text-transform: uppercase;
  font-weight: 500;
}

.countries-to-visit__item {
  display: flex;
  margin-bottom: 10px;
}

.countries-to-visit__image {
  width: 26px;
  height: 18px;
  margin-right: 11px;
}

.countries-to-visit__name {
  padding-left: 3px;
  padding-top: 1px;
}

@media (min-width: $tablet-width) {
  .countries-to-visit {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
  }

  .countries-to-visit__item {
    margin-right: 28px;
    margin-bottom: 13px;
  }

  .countries-to-visit__image {
    width: 36px;
    height: 24px;
    margin-right: 6px;
  }

  .countries-to-visit__name {
    padding-top: 3px;
  }
}

@media (min-width: $desktop-width) {
  .countries-to-visit {
    flex-direction: column;
  }

  .countries-to-visit__item {
    margin-right: 0;
  }

  .countries-to-visit__image {
    margin-right: 14px;
  }
}
