.countries-filter {
  position: relative;
  z-index: 3;

  @include container();
  padding-top: 40px;

  @include theme($bg-inner-filter, $bg-main-dark);
  border-radius: 0 0 20px 20px;
  margin-bottom: 21px;


  &--expanded {
    border-radius: 0;

    .countries-filter__label--open {
      display: none;
    }

    .countries-filter__label--close {
      display: block;
    }

    .countries-filter__continent-filter {
      display: flex;
    }

    .countries-filter__dropdown {
      display: block;
      z-index: 2;
    }
  }
}

.countries-filter__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;

  margin-right: 1.5%;
}

.countries-filter__title {
  position: relative;

  @include offset-reset();
  padding-left: 10%;
  padding-top: 1px;
  margin-bottom: 16px;

  font-size: $mobile-font-size;
  line-height: 1.125;
  font-weight: bold;
  text-transform: uppercase;

  background-image: url("../img/filter.svg");
  background-repeat: no-repeat;
  background-position: 0 5px;
  background-size: 15px auto;
}

.countries-filter__continent-filter {
  display: none;
  width: 100%;
  padding-top: 17px;
  padding-left: 9.26%;
}

.countries-filter__toggle {
  @include button-reset();
  width: 20px;
  height: 20px;

  font: inherit;
  color: $bg-main-dark;
  text-transform: uppercase;
  font-weight: bold;

  background-color: transparent;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.countries-filter__label {
  position: relative;

  display: none;
  height: 100%;

  font-size: 0;

  background-repeat: no-repeat;
  background-size: 17px auto;

  &--open {
    display: block;

    background-image: url("../img/points.svg");
    background-position: right 8px;
  }

  &--close {
    display: none;

    background-image: url("../img/cross.svg");
    background-position: right 0;
  }
}

.countries-filter__dropdown {
  position: absolute;
  top: 100%;
  left: 0;

  display: none;

  width: 100%;
  padding: 12px 7.8% 28px;

  background-color: $bg-inner-filter;
  border-radius: 0 0 20px 20px;
}

.countries-filter__alphabetic-sort {
  width: 81.5%;
  margin: 0 auto;
}

.countries-filter__button {
  @include button-reset();

  width: 100%;
  padding-top: 11px;
  padding-bottom: 8px;

  font-size: $mobile-font-size;
  line-height: 1.25;
  font-weight: bold;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $bg-main-dark;

  background-color: $bg-close-button;
  border: none;
  border-radius: 20px;
  outline: none;

  &:hover {
    background-color: darken($bg-close-button, 2);
  }

  &:active span {
    opacity: 0.3;
  }

  span {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  span::before {
    content: "";
    width: 14px;
    height: 16px;
    margin-right: 11px;

    background-image: url("../img/cross.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 0;
  }
}

@media (min-width: $tablet-width) {
  .countries-filter {
    padding: 120px 9.36% 49px;
    margin-bottom: 43px;

    border-radius: 0 0 55px 55px;

    &--expanded {
      padding-bottom: 40px;

      border-radius: 0;
    }
  }

  .countries-filter__header {
    margin-right: 0;
  }

  .countries-filter__container {
    flex-direction: row-reverse;
    margin-right: 0;
  }

  .countries-filter__title {
    display: none;
  }

  .countries-filter__continent-filter {
    display: flex;

    width: auto;
    padding: 0;
    padding-top: 1px;
  }

  .countries-filter__toggle {
    width: 185px;
    height: auto;
  }

  .countries-filter__label {
    padding-right: 32px;
    padding-top: 1px;
    padding-bottom: 6px;

    font-size: $tablet-smaller-font-size;
    line-height: 1;
    text-align: left;

    &--open {
      background-position: 99% 9px;
      background-size: 30px auto;
    }

    &--close {
      padding-left: 10px;

      background-position: 99% 1px;
      background-size: 22px;
    }
  }

  .countries-filter__dropdown {
    padding: 12px 9% 79px;

    border-radius: 0 0 55px 55px;
  }

  .countries-filter__alphabetic-sort {
    width: 100%;
    margin-bottom: 65px;
  }

  .countries-filter__button {
    width: 97.6%;
    margin-left: 7px;
    padding: 39px 0;

    font-size: $tablet-smaller-font-size;
    line-height: 1;
    letter-spacing: 0;

    span::before {
      width: 22px;
      height: 22px;
      margin-right: 19px;
    }
  }
}

@media (min-width: $desktop-width) {
  .countries-filter {
    width: 100%;
    padding: 0;
    margin-bottom: 49px;
    background-color: $bg-main-light;
  }

  .countries-filter__header {
    padding: 118px 0 50px;

    background-color: $bg-inner-filter;
    border-radius: 0 0 60px 60px;
  }

  .countries-filter__container {
    flex-direction: row;
    justify-content: flex-start;

    @include center-position();
    padding-left: 20px;
    padding-right: 59px;
  }

  .countries-filter__title {
    display: block;
    padding-left: 45px;
    margin-bottom: 0;
    margin-right: 30px;

    font-size: 20px;
    line-height: 20px;

    background-size: 23px auto;
    background-position: 0 3px;
  }

  .countries-filter__toggle {
    order: 2;
    margin-left: auto;
    margin-right: 1px;
  }

  .countries-filter__label {
    padding-right: 55px;
    padding-top: 0;

    &--open {
      background-position: 100% 7px;
    }
  }

  .countries-filter__dropdown {
    position: relative;

    @include center-position();
    padding: 14px 0 102px;

    background-color: inherit;
  }

  .countries-filter__alphabetic-sort {
    width: 1248px;
    margin-left: 36px;
    margin-bottom: 96px;
  }

  .countries-filter__button {
    width: 100%;
    padding-right: 4px;
    margin-left: 0;
  }
}
