.likes {
  display: flex;

  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  color: $text-clr-dark;
  text-transform: uppercase;
}

.likes__toggle {
  @include button-reset;
  position: relative;

  width: 30px;
  height: 30px;
  margin-right: 5px;

  border-radius: 50%;
  background-color: $bg-inner-filter;
  outline: none;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    width: 12px;
    height: 12px;
    margin: auto;

    background-image: url("../img/heart-stroke.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0.3;
  }

  &:hover::after,
  &:focus::after {
    opacity: 0.5;
  }

  &:active::after {
    opacity: 0.1;
  }
}

.likes__toggle[aria-pressed="true"] {
  background-color: $bg-like;

  &::after {
    background-image: url("../img/heart-filled.svg");
    opacity: 1;
  }

  &:hover {
    background-color: $bg-like-hover;
  }

  &:active::after {
    opacity: 0.3;
  }
}

.likes__count {
  padding-top: 7px;
}

@media (min-width: $tablet-width) {
  .likes {
    font-size: inherit;
    line-height: inherit;
  }

  .likes__toggle {
    width: 50px;
    height: 50px;
    margin-right: 6px;

    &::after {
      width: 20px;
      height: 20px;
    }
  }

  .likes__count {
    padding-top: 15px;
  }
}
