.pagination {
  width: 100%;

  background-color: $bg-card;
  border-radius: 20px;
}

.pagination__page-list {
  display: none;
}

.pagination__buttons {
  position: relative;

  @include offset-reset();
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 53.33%;
  height: 51px;
  margin: 0 auto;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;

    width: 1px;

    background-color: $bg-main-light;
  }
}

.pagination__button {
  @include button-reset();
  width: 33px;
  height: 18px;

  background-repeat: no-repeat;
  background-size: contain;

  &--back {
    background-image: url("../img/page-arrow-back.svg");
    background-position: 0 1px;
  }

  &--forward {
    background-image: url("../img/page-arrow-forward.svg");
    background-position: 100% 1px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 100px;
    padding: 0 5.09% 0 4.07%;
  }

  .pagination__page-list {
    @include list-reset();
    display: flex;
  }

  .pagination__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;

    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: $text-clr-medium;

    border-radius: 50%;

    &[href]:hover {
      color: rgba($text-clr-medium, 0.7);
    }

    &[href]:active {
      color: rgba($text-clr-medium, 0.3);
    }

    &--current {
      background-color: $bg-button-basic;
    }
  }

  .pagination__buttons {
    width: 53px;
    height: 20px;
    margin: 0;

    &::after {
      display: none;
    }
  }

  .pagination__button {
    width: 50%;
  }
}

@media (min-width: $desktop-width) {
  .pagination {
    padding-left: 30px;
    padding-right: 42px;
  }

  .pagination__buttons {
    width: 55px;
  }
}
