
.slider {
  position: relative;

  padding-top: 4px;
  padding-bottom: 4px;
}

.slider__bar {
  height: 2px;

  background-color: $text-clr-medium;
  opacity: 0.2;
}

.slider__handle {
  @include button-reset();
  position: absolute;
  top: 0;
  z-index: 2;

  width: 10px;
  height: 10px;
  padding: 0;

  background-color: $text-clr-medium;
  border-radius: 50%;
  outline: none;

  transition: all 100ms ease;

  &--min {
    left: 30%;
  }

  &--max {
    right: 0;
  }

  &:hover,
  &:focus {
    transform: scale(1.3);
    transition: all 100ms ease;
  }

  &:active {
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.24);
  }
}

.slider__interval {
  position: absolute;
  top: 4px;
  left: calc(30% + 5px);
  right: 5px;
  z-index: 1;

  height: 2px;
  background-color: $text-clr-medium;
}

@media (min-width: $tablet-width) {
  .slider {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .slider__bar {
    height: 3px;
  }

  .slider__handle {
    width: 13px;
    height: 13px;

    &--min {
      left: calc(30% + 15px);
    }
  }

  .slider__interval {
    top: 5px;
    left: calc(30% + 15px);

    height: 3px;
  }
}

@media (min-width: $desktop-width) {
  .slider__handle--min {
    left: 30%;
  }

  .slider__interval {
    left: calc(30% + 5px);
  }
}
