.copyright {
  @include offset-reset();
  display: flex;
  justify-content: space-between;

  padding-top: 13px;
  border-top: $copyright-border;

  color: inherit;
  text-decoration: none;

  &:hover {
    color: inherit;
    text-decoration: none;

    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__text {
  padding-top: 5px;
}

@media (min-width: $tablet-width) {
  .copyright {
    width: 154px;
    padding-top: 3px;

    font-size: $tablet-smaller-font-size;
    line-height: 1;

    border-top: none;
  }

  .copyright__text {
    padding-top: 1px;
  }
}
