.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .copyright {
    min-width: 154px;

    font-size: 20px;
    line-height: 20px;
  }
}
