.intro {
  position: relative;
  padding-left: 7.81%;
  padding-right: 7.81%;
  margin-bottom: -20px;
  border-radius: 0 0 20px 20px;

  @include theme($bg-header, $text-clr-light);

  &--catalog {
    z-index: 4;
  }
}

.intro__container {
  padding-top: 12px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.intro__heading {
  position: relative;

  @include offset-reset();
  padding-bottom: 15px;

  font-size: $mobile-button-font-size * 2;
  line-height: 1;
  font-weight: bold;

  &::after {
    content: "";
    position: absolute;
    top: calc(100% - 3px);
    left: 0;
    right: 0;

    height: 5px;

    background-color: $bg-special-bright;
    border-radius: 4px;
  }
}

.intro__link {
  display: none;
}

@media (min-width: $tablet-width) {
  .intro {
    padding-left: 9.77%;
    padding-right: 9.77%;
    margin-bottom: -60px;
    border-radius: 0 0 60px 60px;
  }

  .intro__container {
    padding-top: 86px;
  }

  .intro__heading {
    padding-bottom: 70px;

    font-size: $tablet-smaller-font-size * 3;

    &::after {
      top: calc(100% - 4px);
      height: 8px;
    }
  }

  .intro__link {
    display: block;
    padding-top: 23px;
    padding-right: 60px;

    color: inherit;
    font-size: $tablet-smaller-font-size;
    line-height: 1;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-decoration: none;

    background-image: url("../img/arrow-bend.svg");
    background-repeat: no-repeat;
    background-position: right 25px;
    background-size: 32px 16px;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

@media (min-width: $desktop-width) {
  .intro {
    padding-left: 0;
    padding-right: 0;

    border-radius: 0 0 55px 55px;
  }

  .intro__container {
    @include center-position();
    padding-top: 110px;
    padding-left: 64px;
    padding-right: 63px;
  }

  .intro__heading {
    padding-bottom: 71px;
    padding-right: 3px;
  }
}
