.logo {
  color: inherit;
}

.logo__image {
  display: block;
  width: 96px;
  height: 15px;
  margin-bottom: 4px;

  color: inherit;

  &--open {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .logo__image {
    width: 164px;
    height: 42px;
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .logo__image {
    width: 200px;
    height: 55px;
  }
}
