.main-header {
  @include theme($bg-header, $text-clr-light);

  &--scroll {
    @include theme($bg-card, $text-clr-header);
  }
}

.main-header--no-js {
  @media (max-width: $tablet-width-only) {

    .main-nav {
      position: static;
    }

    .main-nav__content {
      position: relative;
      top: auto;

      display: block;
    }

    .main-nav__site-list,
    .main-nav__contacts-list,
    .main-nav__social-list {
      display: block;
    }

    .main-nav__toggle {
      display: none;
    }

    @include theme($bg-card, $text-clr-header);
  }
}
