.main-footer {
  position: relative;

  padding-top: 37px;
  padding-bottom: 18px;
  margin-top: -30px;

  background-color: $bg-card;
  border-radius: 30px;
}

.main-footer__container {
  @include container();

  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-footer__logo {
  margin-bottom: 40px;
}

.main-footer__social {
  padding-right: 1px;
  margin-bottom: 36px;
}

.main-footer__copyright {
  @include offset-reset();
  align-self: stretch;
}

@media (min-width: $tablet-width) {
  .main-footer {
    padding-top: 47px;
    padding-bottom: 32px;
    margin-top: -60px;

    border-radius: 60px 60px 0 0;
  }

  .main-footer__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .main-footer__logo {
    margin-bottom: 0;
  }

  .main-footer__social {
    padding-right: 8px;
    margin-bottom: 0;
  }

  .main-footer__copyright {
    align-self: center;
  }
}

@media (min-width: $desktop-width) {
  .main-footer {
    padding-top: 47px;
    padding-bottom: 43px;
  }

  .main-footer__container {
    @include center-position();
  }

  .main-footer__social {
    padding-right: 46px;
  }
}
