.main-nav {
  position: relative;
  display: flex;
  flex-direction: column;

  padding: 0 7.81%;

  text-transform: uppercase;
  color: inherit;

  background-color: inherit;
}

.main-nav__toggle {
  @include button-reset();
  position: relative;
  display: block;
  width: 25px;
  height: 25px;

  background-color: transparent;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;

    width: 25px;
    height: 3px;

    border-radius: 1.5px;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__content {
  color: inherit;

  background-color: inherit;
}

.main-nav__header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding-bottom: 39px;
}

.main-nav__site-list {
  margin-bottom: 55px;
}

.main-nav__user-list {
  margin-bottom: 51px;
}

.main-nav__contacts-list {
  margin-bottom: 40px;
}

@media (max-width: $tablet-width-only) {
  .main-nav--open {
    @include theme($bg-card, $text-clr-header);

    .main-nav__header {
      padding: 25px 0 28px;
    }

    .logo__image {
      &--open {
        display: block;
      }

      &--close {
        display: none;
      }
    }

    .main-nav__content {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 10;

      width: 100%;
      padding: 37px 7.8% 39px;
    }

    .main-nav__toggle::before,
    .main-nav__toggle::after {
      top: 10px;
      height: 2px;
      background-color: $bg-toggle;
    }

    .main-nav__toggle::before {
      transform: rotate(45deg);
    }

    .main-nav__toggle::after {
      transform: rotate(-45deg);
    }
  }

  .main-nav--close {
    .main-nav__header {
      padding-top: 16px;
    }

    .logo__image {
      &--open {
        display: none;
      }

      &--close {
        display: block;
      }
    }

    .main-nav__toggle::before,
    .main-nav__toggle::after {
      background-color: $bg-card;
    }

    .main-nav__toggle::before {
      top: 7px;
    }

    .main-nav__toggle::after {
      top: 15px;
    }

    .main-nav__content {
      display: none;
    }
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    padding: 0 5.2%;
  }

  .main-nav__header {
    align-items: center;
    width: calc(50% + 12px);
  }

  .main-nav__toggle {
    margin: 0;
  }

  .main-nav__content {
    width: 100%;
  }

  .main-nav__user-list {
    $login-top-shift: 94px;
    position: absolute;
    top: -$login-top-shift;
    margin: 0;
  }
}

@media (max-width: $tablet-width-only) and (min-width: $tablet-width) {
  .main-nav--open {
    $login-right-shift: 5.2%;

    .main-nav__header {
      padding-top: 46px;
      padding-bottom: 46px;
    }

    .main-nav__content {
      position: absolute;
      top: 100%;

      padding: 47px 12.6% 90px;
    }

    .main-nav__site-list {
      margin-bottom: 132px;
    }

    .main-nav__contacts-list {
      margin-bottom: 130px;
    }

    .main-nav__user-list {
      right: $login-right-shift;
    }
  }

  .main-nav--close {
    .main-nav__header {
      padding-top: 46px;
      padding-bottom: 46px;
    }

    .main-nav__content {
      position: relative;
      display: block;
      padding: 0;
    }

    .main-nav__site-list,
    .main-nav__contacts-list,
    .main-nav__social-list {
      display: none;
    }

    .main-nav__user-list {
      right: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    @include center-position();
    padding: 18px 0 9px;
  }

  .main-nav__header {
    width: 292px;
    padding-bottom: 0;
  }

  .main-nav__logo {
    width: 200px;
    margin-right: 40px;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__content {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  .main-nav__site-list {
    position: relative;
    width: 560px;
    margin-bottom: 0;
    margin-right: auto;
    padding-left: 105px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: calc(50% - 1px);

      width: 60px;
      height: 2px;
      background-color: $bg-card;
    }
  }

  .main-nav__user-list {
    position: static;
    order: 2;
    margin: 0;
  }

  .main-nav__contacts-list {
    width: auto;
    margin-left: auto;
    margin-bottom: 0;
  }

  .main-nav__social-list {
    display: none;
  }
}
