.main-footer {
  padding-top: 37px;
  padding-bottom: 18px;

  background-color: $bg-card;
}

.main-footer__container {
  @include outline(teal);
  @include container();

  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-footer__logo {
  margin-bottom: 40px;
}

.main-footer__list {
  min-height: 45px;
  min-width: 135px;
  padding-bottom: 37px;
  background-color: tomato;
}

.main-footer__copyright {
  align-self: stretch;
}

@media (min-width: $tablet-width) {
  .main-footer {
    padding-top: 46px;
    padding-bottom: 32px;
  }

  .main-footer__container {
    flex-direction: row;
    justify-content: space-between;
  }

  .main-footer__logo {
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-footer {
    padding-top: 47px;
    padding-bottom: 43px;
  }
}
