.page {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.page__body {
  min-width: 320px;
  margin: 0;

  @include basic-text();
  color: $text-clr-basic;

  background-image: linear-gradient(to bottom, $bg-header 0, $bg-header 30px, $bg-main-light 30px, $bg-main-light 100%);
}

.page__main {
  position: relative;
}

.page__body--no-js {
  .countries-filter__label {
    display: none;
  }

  .countries-filter__continent-filter {
    display: flex;
  }

  .countries-filter__dropdown {
    position: static;
    display: block;
  }

  .countries-filter__button {
    display: none;
  }

  .field-group__list,
  .field-group__transport,
  .field-group__level {
    display: flex;
    flex-direction: column;
  }

  .field-group__icon {
    display: none;
  }

  @media (max-width: $tablet-width-only) {
    .main-header {
      @include theme($bg-card, $text-clr-header);
    }

    .logo__image--open {
      display: block;
    }

    .logo__image--close {
      display: none;
    }

    .main-nav__toggle {
      display: none;
    }

    .main-nav__content,
    .main-nav__site-list,
    .main-nav__user-list,
    .main-nav__contacts-list,
    .main-nav__social-list {
      display: block;
    }

    .main-nav__content {
      padding: 41px 0;
    }
  }

  @media (max-width: $tablet-width-only) and (min-width: $tablet-width) {
    .main-nav__content {
      padding: 50px 8.3% 81px;
    }

    .main-nav__site-list,
    .main-nav__contacts-list {
      margin-bottom: 130px;
    }

    .field-group__list,
    .field-group__transport,
    .field-group__level {
      flex-direction: row;
    }
  }
}

.page__body--scroll {
  position: relative;
  z-index: 10;
  padding-top: 73px;

  .main-header {
    @include theme($bg-card, $text-clr-header);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 11;
    margin: 0;
  }

  .logo__image--open {
    display: block;
  }

  .logo__image--close {
    display: none;
  }

  .main-nav__toggle::before,
  .main-nav__toggle::after {
    background-color: $bg-toggle;
  }


  @media (min-width: $tablet-width) {
    padding-top: 132px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 120px;

    .main-header {
      padding-top: 0;
    }
  }
}
