.page {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.page__body {
  min-width: 320px;
  margin: 0;

  @include basic-text();
  color: $text-clr-basic;

  background-image: linear-gradient(to bottom, $bg-header 0, $bg-header 30px, $bg-main-light 30px, $bg-main-light 100%);
}

.page__body--no-js {
  @media (max-width: $tablet-width-only) {
    .main-header {
      @include theme($bg-card, $text-clr-header);
    }

    .main-nav__toggle {
      display: none;
    }

    .main-nav__content,
    .main-nav__site-list,
    .main-nav__user-list,
    .main-nav__contacts-list,
    .main-nav__social-list {
      display: block;
    }

    .main-nav__content {
      padding: 41px 0;
    }
  }

  @media (max-width: $tablet-width-only) and (min-width: $tablet-width) {
    .main-nav__content {
      padding: 50px 8.3% 81px;
    }

    .main-nav__site-list,
    .main-nav__contacts-list {
      margin-bottom: 130px;
    }
  }
}

.page__body--scroll {
  position: relative;
  z-index: 10;
  padding-top: 73px;

  .main-header {
    @include theme($bg-card, $text-clr-header);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 11;
    margin: 0;
  }

  @media (min-width: $tablet-width) {
    padding-top: 132px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 120px;

    .main-header {
      padding-top: 0;
    }
  }
}
