.site-list {
  @include list-reset();

  font-size: 30px;
  font-weight: 500;
  line-height: 35px;
  text-transform: uppercase;
}

.site-list__link {
  color: inherit;
  text-decoration: none;
}

@media (min-width: $desktop-width) {
  .site-list__link {
    &:hover {
      color: $bg-button-basic;
    }

    &:active {
      color: rgba($bg-button-basic, 0.3);
    }
  }
}
