.promo {
  color: $text-clr-light;
  background-color: $bg-header;
}

.promo__slogan {
  font-size: 36px;
  line-height: 40px;
  font-weight: bold;
}

.promo__quote-author {
  font-weight: bold;
  font-style: normal;
}
