// DEFAULT STYLES RESET
@mixin offset-reset() {
  margin: 0;
  padding: 0;
}

@mixin list-reset() {
  @include offset-reset();
  list-style: none;
}

@mixin button-reset {
  @include offset-reset();
  font-family: inherit;
  border: none;
  outline: none;
}

// TYPOGRAPHY STYLES
@mixin basic-text() {
  font-family: $basic-font;
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 33px;
  }
}

@mixin bolder-text {
  font-size: 21px;
  line-height: 24px;
  font-weight: bold;
}

@mixin bolder-text {
  font-size: 21px;
  line-height: 24px;
  font-weight: bold;
}

@mixin heading() {
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
  color: $bg-special-bright;
}

// COLOR STYLES

@mixin theme($bg-clr: $bg-card, $text-clr: $text-clr-basic) {
  color: $text-clr;
  background-color: $bg-clr;
}

// CUSTOM ELEMENTS STYLES
@mixin button-theme() {
  @include button-reset();

  font-weight: bold;
  text-decoration: none;
  color: $text-clr-medium;

  background-color: $bg-button-basic;
}

@mixin border-styles() {
  border: 1px solid $bg-inner-light;

  &:hover,
  &:focus {
    border-color: $border-textarea-hover;
    outline: none;
  }

  &:focus-within {
    border-color: $text-clr-dark;
  }
}

// LAYOUT STYLES
@mixin center-position($width: $desktop-content-width) {
  width: $width;
  margin: 0 auto;
}

// Временный миксин

@mixin outline($color: rgba(225, 0, 0, 0.5)) {
  outline: 5px solid $color;
  outline-offset: -5px;
}
