// DEFAULT STYLES RESET
@mixin offset-reset() {
  margin: 0;
  padding: 0;
}

@mixin list-reset() {
  @include offset-reset();
  list-style: none;
}

@mixin button-reset {
  display: block;

  @include offset-reset();
  font-family: inherit;
  border: none;
  outline: none;
}

// TYPOGRAPHY STYLES
@mixin basic-text() {
  font-family: $basic-font;
  font-size: $mobile-font-size;
  line-height: 1.375;
  font-weight: 300;

  @media (min-width: $tablet-width) {
    font-size: $tablet-font-size;
    line-height: 1.179;
  }
}

@mixin bolder-text {
  font-weight: bold;

  @media (min-width: $tablet-width) {
    font-size: $mobile-bolder-size;
    line-height: 1.143;
  }
}

@mixin heading() {
  font-size: $mobile-heading-size;
  line-height: 1;
  font-weight: bold;
  color: $bg-special-bright;

  @media (min-width: $tablet-width) {
    font-size: $tablet-heading-size;
    line-height: 1;
  }
}

// COLOR STYLES

@mixin theme($bg-clr: $bg-card, $text-clr: $text-clr-basic) {
  color: $text-clr;
  background-color: $bg-clr;
}

// CUSTOM ELEMENTS STYLES
@mixin button-theme() {
  @include button-reset();

  text-decoration: none;
  color: $text-clr-medium;

  background-color: $bg-button-basic;
}

@mixin border-styles() {
  border: 1px solid $bg-inner-light;

  &:hover {
    border-color: $border-textarea-hover;
    outline: none;
  }

  &:focus-within {
    border-color: $text-clr-dark;
  }
}

// LAYOUT STYLES
@mixin center-position($width: $desktop-content-width) {
  width: $width;
  margin: 0 auto;
}

@mixin container() {
  padding-left: 7.81%;
  padding-right: 7.81%;

  @media (min-width: $tablet-width) {
    padding-left: 5.2%;
    padding-right: 5.2%;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-right: 0;
  }
}

@mixin narrow-container() {
  padding-left: 9.26%;
  padding-right: 9.26%;

  @media (min-width: $tablet-width) {
    padding-left: 5.08%;
    padding-right: 5.08%;
  }

  @media (min-width: $desktop-width) {
    padding-left: 70px;
    padding-right: 70px;
  }
}

@mixin form-container() {
  padding-left: 7.81%;
  padding-right: 7.81%;

  @media (min-width: $tablet-width) {
    padding-left: 9.77%;
    padding-right: 9.77%;
  }

  @media (min-width: $desktop-width) {
    @include center-position();

    padding: 0;
  }
}

// Временный миксин

@mixin outline($color: rgba(225, 0, 0, 0.5)) {
  outline: 5px solid $color;
  outline-offset: -5px;
}
