$bg-header: #182044;
$bg-main-light: #edeff6;
$bg-main-medium: #e6e8f1;
$bg-main-dark: #192144;
$bg-inner-medium: #d4d9eb;
$bg-inner-light: #cbced9;
$bg-inner-lighter: #dfe3f0;
$bg-special-bright: #ff8d30;
$bg-special-medium: #ffa530;
$bg-special-light: #ffbd2e;
$bg-special-lighter: #ffd74b;
$bg-button-dark: #121936;
$bg-indicator-no: #f97676;
$bg-indicator-yes: #81e31e;
$clr-text-light: #ffffff;
$clr-text-basic: #444444;
$clr-text-medium: #1d2e5b;
$clr-text-dark: #161c35;
$clr-text-darker: #000000;
$clr-text-link: #132576;




